/* .wordle-header {
  
} */

.header-text {
  background-color: #b8dbd8;
  font-size: 68px;
  font-weight: bold;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  padding: 8px 8px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
