.square {
  width: 52px;
  height: 52px;
  background-color: #586f7d;
  margin: 2px;
  border: 2px solid black;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 5px;
  text-transform: uppercase;
}

.yellow-square {
  background-color: #c3ab11;
}

.white-square {
  background-color: #586f7d;
}

.green-square {
  background-color: #25a112;
}
